<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-160848412-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-160848412-2');
</script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name="description" content="일일이 프로그램 사용 통계를 수집하느라 힘드셨나요? 이젠 그러지 마세요! U-Chart가 대신 프로그램 사용 통계를 제공해 드립니다.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="UChart" /> <!-- website name -->
	<meta property="og:site" content="https://uchart.kr" /> <!-- website link -->
	<meta property="og:title" content="U-Chart"/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="여기서 사용 통계를 수집할 프로그램을 등록해주세요!" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="images/favicon.png" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="https://u-chart.kr/add_program" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />


    <!-- Website Title -->
    <title>프로그램 추가</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
	<link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
	
	<!-- Favicon  -->
    <link rel="icon" href="images/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index">Evolo</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="index"><img src="images/logo_reverse.png" alt="alternative"></a>
        
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="programlist">프로그램 목록</a>     
                </li>
                <% if(session.email){%>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="add_program">프로그램 추가</a>
                </li>   
                    <%}%>
                <!-- Dropdown Menu -->          
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#about" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">계정</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <% if(session.email){%>
                            <a class="dropdown-item" href="logout"><span class="item-text" id= "loginm2">로그아웃</span></a>
                        <%}else{%>
                        <a class="dropdown-item" href="register" id="regm1"><span class="item-text" id="regm2">회원가입</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="signin" id="loginm1" onclick=""><span class="item-text" id= "loginm2">로그인</span></a>
                        <%}%>
                    </div>
                </li>
                <!-- end of dropdown menu -->
            </ul>
            <!--
                프로필
                <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="https://www.naver.com">
                        <i class="fas fa-circle fa-stack-2x facebook"></i>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>
            </span>
            -->
            
        </div>
    </nav> <!-- end of navbar -->


    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>프로그램 추가</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Breadcrumbs -->
    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <a href="index">홈</a><i class="fa fa-angle-double-right"></i><a href="GetStarted">시작하기</a><i class="fa fa-angle-double-right"></i><span>프로그램 추가</span>
                    </div> <!-- end of breadcrumbs -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of breadcrumbs -->

    

    <!-- Privacy Content -->
    <div class="ex-basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-center">                   
                    <div class="row">
                        <div class="col-md-8 offset-lg-center">
                            <div class="form-container">
                                <form id="addForm" data-toggle="validator" data-focus="false">
                                    <h3>프로그램 추가</h3> <br>
                                    <div class="form-group">
                                        <input type="text" class="form-control-input" id="prname" required>
                                        <label class="label-control" for="prname">프로그램 이름</label>
                                        <div class="help-block with-errors"></div>
                                        <br>
                                    </div>
                                    <div class="form-group">
                                              
                                        <input type="text" class="form-control-input" id="pkey" required>
                                        <label class="label-control" for="pkey">수집할 데이터 키(key;type,key;type...) </label>
                                        <div class="help-block with-errors"></div>
                                        <b style="font-size: 16px;">&nbsp;※ 어떤 통계 자료를 수집할 지 정해주세요!</b>   
                                        <b style="font-size: 16px;">&nbsp;<br><br>※ key는 수집할 데이터 이름, type은 데이터 자료형 타입을 의미합니다.</b>   
                                        <b style="font-size: 16px;">&nbsp;<br><br>※ 사용 가능한 type: playTime(실행시간),date(날짜와 시간),number(숫자),text(문자열)</b>                     
                                       
                                        <br>
                                    </div>
                                    <div class="form-group">
                                        <b style="font-size: 16px;">&nbsp;※ 프로그램 언어 선택</b>                                      
                                        <table>                                            
                                            <tr>
                                                <td align="middle">
                                                    <input type="radio" name="language" onclick="set('C')">&nbsp;&nbsp;C</input>
                                                </td>
                                                <td align="middle">
                                                    <input type="radio" name="language" onclick="set('C++')">&nbsp;&nbsp;C++</input>
                                                </td>
                                                <td align="middle">
                                                    <input type="radio" name="language" onclick="set('C#')">&nbsp;&nbsp;C#</input>
                                                </td>
                                                <td align="middle">
                                                <input type="radio" name="language" onclick="set('Java')">&nbsp;&nbsp;Java</input>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="form-group checkbox">
                                        <input type="checkbox" id="terms" value="Agree-To-Terms" required>U-Chart가 제공하는 데이터 수집 서비스를 이용하기 위해서는 사용자로부터 자신의 프로그램의 데이터 수집 동의를 얻어야 합니다.
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="form-control-submit-button" id="addp">제출</button>
                                    </div>
                                    <div class="form-message">
                                        <div id="addmsg" class="h3 text-center hidden"></div>
                                    </div>
                                </form>
                            </div> <!-- end of form container -->
                            <!-- end of privacy form -->

                        </div> <!-- end of col--> 
                    </div> <!-- end of row -->
                    
                </div> <!-- end of col-->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-2 -->
    <!-- end of privacy content -->


    <!-- Breadcrumbs -->
    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <a href="index">홈</a><i class="fa fa-angle-double-right"></i><a href="GetStarted">시작하기</a><i class="fa fa-angle-double-right"></i><span>프로그램 추가</span>
                    </div> <!-- end of breadcrumbs -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of breadcrumbs -->

    
    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-col">
                        <h4>About U-Chart</h4>
                        <div>Made by Droid</div>
                    </div>
                </div> <!-- end of col -->
                
                <div class="col-md-4">
                    <div class="footer-col middle">
                        <h4>Useful Links</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><a class="turquoise" href="https://cafe.naver.com/uchart">Our Cafe Site</a></div>
                            </li>
                            <!---
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Read our <a class="turquoise" href="terms-conditions">Terms & Conditions</a>, <a class="turquoise" href="privacy-policy">Privacy Policy</a></div>
                            </li>
                            -->
                        </ul>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col last">
                        <h4>Contact Us</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">E-mail : singlerr@naver.com</div>
                            </li>
                        </ul>
                    </div> 
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->  
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2020 <a href="https://inovatik.com">Inovatik</a> - All rights reserved</p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright --> 
    <!-- end of copyright -->

	
    <!-- Scripts -->
    <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="js/addprogram_scripts.js"></script> <!-- Custom scripts -->
    
</body>
</html>